<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine or request Chrome Frame -->
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Use title if it's in the page YAML frontmatter -->
	<title><%= current_page.data.title || "The Middleman" %></title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Pacifico" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<%= stylesheet_link_tag "all" %>
	<%= javascript_include_tag  "all" %>
</head>
<header>

</header>
<body class="<%= page_classes %>">

	<main>
		<%= yield %>

		<div class="main-grid">

			<div class="main-grid-item main-grid-content main-grid-coding">

				<h2 class="🌺">Coding</h2>
				<ul class="🌷">
					<li><a href="http://codepen.io/tallys/">Codepen</a></li>
					<li><a href="https://github.com/tallys">Github</a></li>		
				</ul>
			</div>

			<div class="main-grid-item main-grid-content main-grid-writing">
				<h2 class="🌺">Writing</h2>
				<ul class="🌷">
					<li><a href="https://medium.com/@tallys">Medium</a></li>
					<li><a href="https://twitter.com/natalyathree">Twitter</a></li>
				</ul>
			</div>
			<div class="main-grid-item main-grid-content main-grid-illustrating">

				<h2 class="🌺">Illustrating</h2>
				<ul class="🌷">
					<li><a href="https://dribbble.com/tallys">Dribbble</a></li>
					<li><a href="/sketchnotes.html">Sketchnoting</a></li>	
				</ul>
			</div>
			<div class="main-grid-item main-grid-content main-grid-teaching">

				<h2 class="🌺">Teaching</h2>
				<ul class="🌷">
					<li>
						<a href="https://www.extension.harvard.edu/academics/courses/modular-design-patterns-react/25069">Harvard Extension - Design Patterns with React</a>
					</li>
				</ul>
			</div>
			<div class="main-grid-item main-grid-content main-grid-speaking">
				<h2 class="🌺">Speaking (videos)</h2>
				<ul class="🌷">
					<li><a href="http://sassconf.com/">SassConf 2015 - Austin, TX</a></li>
					<li><a href="https://www.youtube.com/watch?v=WE3ogt6hFW4">▶️  RTX Tech Panel 2015 - Austin, TX</a></li>
					<li><a href="http://minnewebcon.org/">MinneWebCon 2016 - Minneapolis, MN</a></li>
					<li><a href="https://wwconnect2016.squarespace.com/"></a>Women Who Code Connect 2016 - Seattle, WA</li></li>
					<li><a href="https://www.youtube.com/watch?v=3GsFQo_t0CM">▶️ Frontend United 2016 - Ghent, Belgium</a></li>
					<li><a href="https://www.youtube.com/watch?v=-l0MuyR7amw">▶️ ScotlandCSS 2016 - Edinbugh, Scotland</a></li>
					<li><a href="https://www.youtube.com/watch?v=PTWLViHkwf4">▶️ Cascadia CSS 2016 - Semiahmoo, WA</a></li>
					<li><a href="https://www.youtube.com/embed/1x-x7HfSSnU">▶️ CSSDay.io 2016 - Chandler, AZ</a></li>
					<li><a href="http://femmehacks.io/">Femmehacks 2017 Panel - Philadelphia, PA</a></li>
					<li><a href="https://www.youtube.com/watch?v=xMRc9VxcBEI">▶️ Frontend United 2017 - Athens, Greece</a></li>
					<li><a href="http://jazzcon.tech/">JazzCon 2018 - New Orleans, LA</a></li>
					<li><a href="https://www.youtube.com/watch?v=L-d3PZSswIg&feature=youtu.be"></a>▶️ Scotland CSS 2018 - Edinburgh, Scotland</li>
					<li><a href="https://www.dotconferences.com/2018/11/natalya-shelburne-css-at-the-intersection"></a>▶️ DotCSS 2018 - Paris, France</li>
					<li><a href="https://www.youtube.com/watch?v=y-tpXXDoFhM&list=PLjnstNlepBvNTimR5FhD5tdbbQr57o1Oh&index=16"></a>▶️ CSS Day Amsterdam 2019 - Amdsterdam, Netherlands</li>
				</ul>
			</div>
			<div class="main-grid-item main-grid-content main-grid-color-theory">
				<h2 class="🌺">Color Theory</h2>
				<ul class="🌷">
					<li><a href="/demos.html">Color Theory - What is HSL()?</a></li>
					<li>
						<a href="http://tallys.github.io/color-theory">Practical Color Theory for People Who Code Demo</a>
					</li>
					<li>
						<a href="https://docs.google.com/presentation/d/1ytSMRNpNrD9CWms351X4xelQuJT24tIqKnIzSbe2OQ0/edit?usp=sharing">Color Theory Slides</a>
					</li>
					<li>
						<a href="http://www.oreilly.com/pub/e/3759">O'Reilly Webinar: Color Theory</a>
					</li>

				</ul>
			</div>
			<div class="main-grid-item main-grid-content main-grid-grid">
				<h2 class="🌺">CSS Grid</h2>
				<ul class="🌷">
					<li>
						<a href="https://open.nytimes.com/bootstrap-to-css-grid-87b3f5f830e4">Bootstrap to CSS Grid (Times Open article)</a>
					</li>
					<li>
						<a href="https://docs.google.com/presentation/d/1XBQyeT2C0G-uSCpPpBMWBtSI30FczB74twt_UOuUV0o/edit?usp=sharing">CSS Grid Slides</a>
					</li>
				</ul>
			</div>

			<div class="main-grid-item main-grid-coding-shard">
				<?xml version="1.0" encoding="utf-8"?>
				<svg version="1.1" id="Layer_1" class="grid-shard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
				<polygon class="st261" points="449.5,332.5 503.5,200.5 698.5,545.5 "/>
				<polygon class="st0 background-shard5" points="818.5,542.5 988.5,749.5 935.5,527.5 "/>
				<polygon class="background-shard " points="414.5,398.5 414.5,479.5 557.5,527.5 "/>
				<polygon class="background-shard" points="575.5,12.5 503.5,78.5 598.5,64.5 "/>
				<polygon class="st280 background-shard2" points="449.5,176.5 467.5,201.5 361.5,311.5 "/>
				</svg>

			</div>

			<div class="main-grid-item main-grid-writing-shard">
				<?xml version="1.0" encoding="utf-8"?>
				<svg version="1.1" id="Layer_1" class="grid-shard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
				<polygon class="st261" points="895.5,195.5 973.5,326.5 670.5,489.5 "/>
				<polygon class="st22" points="967.5,445.5 898.5,517.5 1048.5,445.5 "/>
				</svg>

			</div>

			<div class="main-grid-item main-grid-color-theory-shard">
				<?xml version="1.0" encoding="utf-8"?>
				<svg version="1.1" id="Layer_1" class="grid-shard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
				<polygon class="background-shard background-shard2" points="895.5,195.5 1073.5,326.5 670.5,489.5 "/>
				<polygon class="st0" points="967.5,445.5 898.5,517.5 1048.5,445.5 "/>
				</svg>

			</div>

			<div class="main-grid-item main-grid-illustrating-shard">
				<?xml version="1.0" encoding="utf-8"?>
				<svg version="1.1" id="Layer_1" class="grid-shard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
				<polygon class="background-shard background-shard1" points="359.5,192.5 531.5,152.5 487.5,428.5 "/>
				<polygon class="background-shard background-shard3" points="616.5,351.5 950.5,708.5 859.5,419.5 "/>
				</svg>

			</div>

			<div class="main-grid-item main-grid-speaking-shard">
				<?xml version="1.0" encoding="utf-8"?>
				<svg version="1.1" id="Layer_1" class="grid-shard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
				<polygon class="background-shard" points="599.5,111.5 999.5,108.5 282.5,607.5 "/>
				<polygon class="background-shard" points="658.5,566.5 623.5,709.5 739.5,652.5 "/>

				</svg>

			</div>

			<div class="main-grid-item main-grid-teaching-shard">
				<?xml version="1.0" encoding="utf-8"?>
				<svg version="1.1" id="Layer_1" class="grid-shard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
				<polygon class="st218" points="563.5,89.5 858.5,27.5 1290.5,238.5 "/>
				<polygon class="background-shard background-shard4" points="981.5,284.5 1266.5,400.5 1109.5,625.5 "/>
				<polygon class="background-shard background-shard3" points="910.5,588.5 783.5,739.5 951.5,644.5 "/>
				</svg>
			</div>

			<div class="main-grid-item main-grid-grid-shard">
				<?xml version="1.0" encoding="utf-8"?>
				<svg version="1.1" id="Layer_1" class="grid-shard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
				<polygon class="st270" points="409.5,180.5 815.5,221.5 1188.5,739.5 "/>
				<polygon class="background-shard background-shard1" points="67.5,399.5 338.5,548.5 113.5,76.5 "/>
				</svg>
			</div>
		</div>
	</main>
	<footer>
		<p class="footnote"><a href="https://twitter.com/natalyathree"/>@natalyathree</a></p>
	</footer>
	<section class="shards">
		<%= partial "images/shards.svg.erb" %>
	</section>
</body>
</html>
